<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:camel="http://camel.apache.org/schema/spring"
	xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
          http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

	<!-- <context:property-placeholder location="classpath:config/camel_springboot_poc.properties" /> -->
	
	<bean id="properties" class="org.apache.camel.component.properties.PropertiesComponent">
    	<property name="location" value="classpath:config/camel_springboot_poc.properties"/>
	</bean>

	<bean id="appDirectoryProcessor" class="com.camel.springboot.poc.routes.AppDirectoryProcessor">
	</bean>
	
	<camelContext id="camelContext" xmlns="http://camel.apache.org/schema/spring">
		<route id="fileRoute">
			<from uri="file:{{camel.springboot.poc.file.dir}}" />
			<to uri="bean:appDirectoryProcessor" />
		</route>
	</camelContext>

</beans>